%h3= '{Team} / New'

.row
  = form_for(:team, url: teams_path(@team), method: :post) do |f|
    - if @team.errors.any?
      .alert.alert-danger
        %ul
          - @team.errors.full_messages.uniq.each do |msg|
            %li= msg

    .form-group
      = f.label :name
      = f.text_field :name   
    .form-group
      = f.label :description
      = f.text_area :description
    .row.flex-left
      = link_to '<', teams_path, class: 'paper-btn'
      .margin-left
        = f.submit 'Submit', class: 'paper-btn'
