:css
  th, td { border: 1px solid black; }

%h2
  = "/ #{@team.name}"

- if current_user.present?
  = link_to 'New Project', new_team_project_path(@team)
= link_to 'Back', root_path

%table
  %th Project Title
  %th Time Required
  %th Total Tasks
  - @team.projects.each do |project|
    %tr
      %td= link_to project.name, team_project_path(@team, project)
      %td= Time.at(project.duration_sum).utc.strftime("%H:%M:%S")
      %td= project.tasks.count
