%h3= '{Login}'

.row
  = form_for(:user, url: login_path, method: :post) do |f|
    - if flash[:alert].present?
      .alert.alert-danger
        %ul
          %li= flash[:alert]

    .form-group
      = f.label :email
      = f.text_field :email
    .form-group
      = f.label :password
      = f.password_field :password

    .row.flex-left
      = f.submit "Login", class: 'btn-primary paper-btn'
      = link_to "Sign Up", signup_path, class: 'margin-left paper-btn'
