%h1
  Welcome Home!

- if current_user.present?
  = "Greetings, #{current_user.name}!"
  = link_to 'New Team', new_team_path
  = link_to 'Logout', logout_path

  %ul
    Teams
    - current_user.teams.each do |team|
      %li= link_to team.name, team_path(team)

- else
  = link_to 'Login', login_path
  = link_to 'Sign Up', signup_path
