- if current_user.present?
  .row.flex-middle
    %h3
      %span.badge.success
        My Team
    = link_to '+ Add', new_team_path, class: 'margin-left'

  .row.child-borders
    - current_user.teams.each_with_index do |team, index|
      - if index == 0
        - margin = ''
      - else
        - margin = 'margin-left'
      = link_to team_path(team), class: "border-warning padding-large #{margin}" do
        %h3{ style: "margin: 0;" }= team.name

  .row.flex-middle
    %h3
      %span.badge.secondary
        My Tasks
    /= link_to '+ Add', root_path, class: 'margin-left'

  .row
    - current_user.tasks.each do |task|
      .card.margin-right.margin-bottom{:style => "width: 20rem;"}
        .card-header= "Task ##{task.id} – #{task.project.team.name}"
        .card-body
          %h4.card-title= truncate(task.title, length: 70)
          %p.card-text.padding-bottom-small= task.description
          .margin-bottom
            = link_to 'Visit',
              team_project_path(task.project.team, task.project),
              class: 'paper-btn'

- else
  = render template: 'sessions/new'
