:css
  th, td { border: 1px solid black; }

%h2
  = "/ #{@team.name} / #{@project.name}"

- if current_user.present?
  = link_to 'Add Task', new_team_project_task_path(@team, @project)
= link_to 'Back', team_path(@team)

%table
  %th ID
  %th Title
  %th Description
  %th Duration
  %th Status
  %th Start Date
  %th End Date
  %th Created At
  %th Updated At
  - @project.tasks.each do |task|
    %tr
      %td= task.id
      %td= task.title
      %td= task.description
      %td= Time.at(task.duration).utc.strftime("%H:%M:%S")
      %td= task.status
      %td= task.start_date
      %td= task.end_date
      %td= task.created_at
      %td= task.updated_at
