<!DOCTYPE html>
<html>
<head>
  <title>Indioras</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='row flex-middle margin'>
    <% if current_user.present? %>
      <div class='col col-fill'></div>
      <h4><%= "@#{current_user.username}" %></h4>
      <div class='child-borders child-shadows-hover'>
        <a href=<%= root_path %> class="border margin-bottom margin-left padding">Dashboard</a>
        <a href=<%= teams_path %> class="border margin-bottom margin-left padding">Teams</a>
        <a href=<%= logout_path %> class="border margin-bottom margin-left padding">Logout</a>
      </div>
    <% end %>
  </div>

  <div class='margin'>
    <%= yield %>
  </div>

</body>
</html>
